# Week 4: Collections (II)

The following has been discussed in class and is 
now available for your reference.

This tutorial introduces more sequences and iterable-related functions in Python.

After finishing up topics from previous tutorials, the following topics were briefly covered:

- Sequences: `tuple`, `dict`, `set`
- `else` after loops
- Output manipulation: `print` unpacking and `str.join`
- Iterator functions: `zip`, `map`, `enumerate`

In [0]:
# We will be forming 3 groups for the project in this class.
# Each desk will form one group; you may move to other desks
# now to form groups. Each group should have a MAXIMUM of 6 students.

In [1]:
a = (1, 2, 3)

In [2]:
b = [1, 2, 3]

In [3]:
type(b)

list

In [4]:
type(a)

tuple

In [5]:
a == b

False

In [6]:
a + 1

TypeError: can only concatenate tuple (not "int") to tuple

In [7]:
a + (1,)

(1, 2, 3, 1)

In [8]:
a + b

TypeError: can only concatenate tuple (not "list") to tuple

In [9]:
a

(1, 2, 3)

In [10]:
b

[1, 2, 3]

In [11]:
b[:] = "hello"

In [12]:
b

['h', 'e', 'l', 'l', 'o']

In [13]:
b[1:] = range(3)

In [15]:
b

['h', 0, 1, 2]

In [16]:
a[1:] = range(3)

TypeError: 'tuple' object does not support item assignment

In [17]:
print(3, 'ab')

3 ab

In [18]:
a = [3, 'ab']

In [19]:
print(*a)

3 ab

In [20]:
print(*a, *a)

3 ab 3 ab

In [21]:
print(3, 'ab', 3, 'ab')

3 ab 3 ab

In [22]:
print(*range(3))

0 1 2

In [23]:
for i in range(1, 10):
    print(*range(i))

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

In [24]:
print(*'hello')

h e l l o

In [25]:
a = ['aa'] * 3

In [26]:
a

['aa', 'aa', 'aa']

In [27]:
print(*a, sep='0')

aa0aa0aa

In [28]:
print(*[x*2 for x in range(3)], sep='9')

09294

In [29]:
'9'.join(['0', 'a', '5'])

'09a95'

In [30]:
'9'.join([3, 4])

TypeError: sequence item 0: expected str instance, int found

In [31]:
'9'.join('abcd')

'a9b9c9d'

In [32]:
for i in range(5):
    if i < 3:
        print(i)

0
1
2

In [34]:
for i in range(5):
    if i % 7 == 6:
        result = i
        break
print(result)

NameError: name 'result' is not defined

In [35]:
for i in range(5):
    if i % 7 == 6:
        result = i
        break
else:
    result = 9
print(result)

9

In [36]:
for i in range(5):
    if i % 7 == 2:
        result = i
        break
else:
    result = 9
print(result)

2

In [117]:
__import__('random').choice([1, 2, 3, 4, 5])

5

In [39]:
i = 7
while i != 1:
    if i % 7 == 2:
        break
    elif i % 2 == 1:
        i = i * 3 + 1
        print(i)
    else:
        i = i // 2
        print(i)
else:
    i = 1000
print(i)

22
11
34
17
52
26
13
40
20
10
5
16
16

In [40]:
a = {2: 'a', 3: 'b'}

In [41]:
a[3]

'b'

In [42]:
a[0]

KeyError: 0

In [43]:
a[3] = 'c'

In [44]:
a[3]

'c'

In [45]:
a = {2: 'b', 3: 'b', 3: 'c'}

In [46]:
a

{2: 'b', 3: 'c'}

In [47]:
a = {(2, 3): 'x', (4, 5): 'y'}

In [48]:
a

{(2, 3): 'x', (4, 5): 'y'}

In [49]:
a = {[2, 3]: 'x', [2, 3]: 'y'}

TypeError: unhashable type: 'list'

In [50]:
a = {'x': [2, 3], 'x': [4, 5]}

In [51]:
a

{'x': [4, 5]}

In [52]:
a = {2: 'b', 3: 'b', 3: 'c'}

In [53]:
list(a)

[2, 3]

In [54]:
for elem in a:
    print(elem + 3)

5
6

In [55]:
list(a.items())

[(2, 'b'), (3, 'c')]

In [56]:
for key, value in a.items():
    print(value * key)

bb
ccc

In [61]:
for *x, y in {2: 'b', 3: 'b', 3: 'c'}.items():
    print(x, y)

[2] b
[3] c

In [68]:
*x, y = 2, 3, 4, 'b'

In [69]:
x

[2, 3, 4]

In [70]:
y

'b'

In [72]:
a = {2: 'b', 3: 'b', 3: 'c'}

In [73]:
'b' in a

False

In [74]:
2 in a

True

In [75]:
2 == 2 in a

True

In [76]:
2 < 4 > 3

True

In [77]:
not 3 in a

False

In [78]:
3 not in a

False

In [79]:
3 not in {}

True

In [80]:
type({})

dict

In [81]:
a

{2: 'b', 3: 'c'}

In [82]:
a.pop(2)

'b'

In [83]:
(2, 'b') in a.items()

False

In [84]:
(3, 'c') in a.items()

True

In [85]:
'c' in a.values()

True

In [86]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [87]:
a

{3: 'c'}

In [88]:
a.setdefault(10, '')

''

In [89]:
a

{3: 'c', 10: ''}

In [90]:
a[11] = 'x'

In [91]:
a

{3: 'c', 10: '', 11: 'x'}

In [92]:
a.setdefault(11, '')

'x'

In [93]:
a

{3: 'c', 10: '', 11: 'x'}

In [94]:
a[11] = 'y'

In [95]:
a

{3: 'c', 10: '', 11: 'y'}

In [102]:
a = [3, 4, 5]
b = 'xy'

In [97]:
list(zip(a, b))

[(3, 'x'), (4, 'y')]

In [103]:
c = zip(a, b)

In [99]:
type(a)

zip

In [100]:
a

In [104]:
a[0] = 9

In [105]:
a

[9, 4, 5]

In [106]:
list(c)

[(9, 'x'), (4, 'y')]

In [107]:
a = [3, 4, 5]
b = 'xyzw'
c = zip(a, b)
del a[1]
list(c)

[(3, 'x'), (5, 'y')]

In [108]:
a = '1234'

In [109]:
[int(x) for x in a]

[1, 2, 3, 4]

In [110]:
list(map(int, a))

[1, 2, 3, 4]

In [111]:
x = list(map(print, 'abc', 'xyz'))

a x
b y
c z

In [112]:
x

[None, None, None]

In [113]:
a = map(max, [1, 3, 5], [2, 6, 4])

In [114]:
li = list(a)

In [115]:
li

[2, 6, 5]

In [116]:
max(1, 2)

2

In [118]:
for x in map(sum, {1: 2, 3: 4}.items()):
    print(x)

3
7

In [119]:
for i, x in enumerate('abcde'):
    print(2+i, x)

2 a
3 b
4 c
5 d
6 e

In [120]:
list(enumerate([5, 7, 2, 3]))

[(0, 5), (1, 7), (2, 2), (3, 3)]

In [121]:
__import__('random').choice([1, 2, 3, 4])

4

In [123]:
tuple(map(sum, enumerate((5, 7, 2, 3))))

(5, 8, 4, 6)

In [124]:
set([5, 7, 2, 3])

{2, 3, 5, 7}

In [125]:
a = set()

In [126]:
type(a)

set

In [130]:
{'a', True, 1, 0, False}

{0, True, 'a'}

In [131]:
{2, 3, 5} & {3, 5, 1}

{3, 5}

In [132]:
{2, 3, 5} | {3, 5, 1}

{1, 2, 3, 5}

In [133]:
{2, 3, 5} - {3, 5, 1}

{2}

In [134]:
{2, 3, 5} ^ {3, 5, 1}

{1, 2}

In [135]:
{2, 3, 5} ^ {3, 5, 1} ^ {3, 9, 2}

{1, 3, 9}

In [136]:
{1} < {0, 1}

True

In [137]:
{1} < {1}

False

In [138]:
{1} < {2}

False

In [139]:
{1} < {2, 3, 4, 5, True}

True

In [140]:
a = {2, 3, 4}

In [141]:
a.add(5)

In [142]:
a

{2, 3, 4, 5}

In [143]:
a.add(1)

In [144]:
a

{1, 2, 3, 4, 5}

In [145]:
list(a)

[1, 2, 3, 4, 5]

In [146]:
a.add(3)

In [147]:
a

{1, 2, 3, 4, 5}

In [148]:
{1: None, 2: None, 1: None, 2: None}

{1: None, 2: None}

In [153]:
a = {1: None, 2: None}.keys()

In [154]:
a

dict_keys([1, 2])

In [155]:
a & {2}

{2}

In [156]:
a & {3}

set()

In [157]:
a - {0, 2}

{1}

In [158]:
a = {1: None, 0: None}

In [159]:
a

{1: None, 0: None}

In [160]:
{1, 0}

{0, 1}

In [161]:
a = dict.fromkeys([1, 0])

In [162]:
a

{1: None, 0: None}

In [163]:
list(dict.fromkeys([1, 0, 3, 7, 2, 1, 0]))

[1, 0, 3, 7, 2]